---
layout: default
---

<!--  Phone Only Mask-->

<div id="phone-only-mask">
    <iframe src="https://giphy.com/embed/3oEdv6Qvy2za876AKc" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <br>
    電腦版頁面開發中！<br>請使用手機瀏覽。<br><i class="fas fa-envelope"></i>
<span><a href="mailto:oneman.firm@gmail.com">oneman.firm@gmail.com</a></span><br>

</div>

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class='col-3'></div>

            <img class='col-6 logo' src="assets/logo_ver2.svg">
            <div class='col-3'></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 desc_context">
                <p>一人商行尋找市場上真正好的產品，親自使用過後為大家選出精選。一人商行為每項產品提供諮詢，為每位顧客解決心中對產品的疑惑，在這裡，你可以放心買到真正適合你的產品。</p>
            </div>
            <div class="col-8 contact_info">
                <div class='header'> Contact: </div>
                oneman.firm@gmail.com
            </div>
        </div>

    </div>
    <span class="scroll-btn">
        <a href="#">
            <span class="mouse">
                <span>
                </span>
            </span>
        </a>
        <p>下滑看選物</p>
    </span>
</header>
<!-- Product -->
<article id="product">
    <div class='header'>
        <img src="assets/product-title.svg">
    </div>
    <img class='product_img' src="assets/product.png">
    <div class="row justify-content-center">
        <div class="desc_context col-10">
            這期所選的 Drinkmate 氣泡水機，是一款市面上唯一可以打飲料的氣泡水機。特別適合喜歡喝氣泡飲料，又想顧及健康的人們。如果家裡會自己製作檸檬水、柑橘水等等，Drinkmate可以讓你們的飲品如虎添翼，從調味水晉級為清涼爽口的飲料！
        </div>
    </div>
</article>

<!-- Adventage -->
<article id="advantages">
    <section id="advantage1">
        <img class="bg" src="assets/phone-size/lemon-close-up-sm.jpg">
        <header>
            <img src="assets/advantages-02.svg">
        </header>
        <div class="desc_context">
            直接加調味品進去打，充分混合。檸檬水打氣變無糖雪碧！
        </div>
    </section>
    <section id="advantage2">
        <img class="bg" src="assets/phone-size/many_kiwis-sm.jpg">
        <header>
            <img src="assets/advantages-01.svg">
        </header>
        <div class="desc_context">
            無糖份的氣泡飲料，幫助小孩健康成長。
        </div>
    </section>
    <section id="advantage3">
        <img class="bg" src="assets/phone-size/lot-color-paper-sm.jpg">
        <header>
            <img src="assets/advantages-03.svg">
        </header>
        <div class="desc_context">
            招待客人、介紹精油的最佳夥伴！
        </div>
    </section>
</article>
<!-- Referral -->
<article id='referral'>
    <header>
        <img src="assets/referral_title.svg">
    </header>
    <section class="row justify-content-center">
        <div class="col-4 avatar">
            <img src="assets/IMG_4927.jpg">
        </div>
        <div class="col-6 desc_context">
            <div class="name">
                台菲英語中心&樺恩健康中心李怡
            </div>
            <div class="chat-box">
                超推用檸檬與薄荷打成氣泡水，超級好喝！<br>而且這台氣泡水機可以事先加入調味，<span class="highlight">油與水就能充分混合</span>而不會浮在上面一層。<br>打出來的檸檬、薄荷氣泡水口感超好！<br>大大推薦給玩精油的夥伴們，<span class="highlight">尤其是有小孩的爸爸媽媽</span>，有了這台可以叫小孩不要再買糖分過多的市售汽水了！
            </div>
        </div>
    </section>
    <section class="row justify-content-center">
        <div class="col-4 avatar">
            <img src="assets/referral_2.jpeg">
        </div>
        <div class="col-6 desc_context">
            <div class="name">
                溫高敬
            </div>
            <div class="chat-box">
                氣泡水機不只是一種生活風格，更是<span class="highlight">健康的好夥伴</span>。我兒子有<span class="highlight">糖尿病</span>，不能喝有糖的飲料。氣泡水機與精油讓我能調<span class="highlight">無糖的氣泡飲</span>，搭配肉桂、葡萄柚、生薑從食物萃取的香料油，無糖氣泡水好喝的不得了，而意外發現<span class="highlight">兒子的血糖居然也慢慢平衡</span>，完全不因為喝含糖飲料而暴升！真是太開心了。
            </div>
        </div>
        <div class="more">持續募集推薦文<br>投稿上榜的推薦文均有神祕好禮！<br><span class="small">投稿請<a href="mailto:oneman.firm@gmail.com">來信</a></span>   </div>
    </section>
</article>

<!-- Call to Action -->
<article id="buying-block">
    <header>
        <div id="buying-head-top-container">
            <img id="buying-head-top" src="assets/buying-title-tophalf.svg">
        </div>
        <img id="buying-head-bot" src="assets/buying-title-bothalf.svg">
    </header>

    <!-- Full Package -->
    <section id="buy-full-package" class="card">
        <header>
            <h1>豪華套裝</h1>
            <p>完整套裝，適合一家人或招待使用</p>
        </header>
        <div class="product-img-container">
            <img src="assets/buying-block/product-full-package.png">
        </div>
        <hr>
        <div class="desc-content">
            <div class="content-row row">
                <div class="col-4 title">內含</div>
                <div class="col-8 content">
                    <ul>
                        <li>Drinkmate主機一台</li>
                        <li>co2可回充氣瓶兩瓶</li>
                        <li>1L水瓶一罐</li>
                        <li>0.5L水瓶一罐</li>
                        <li>0.5L不鏽鋼水瓶一罐</li>
                    </ul>

                </div>
            </div>
            <div class="content-row row">
                <div class="col-4 title">原價</div>
                <div class="col-8 content">6480</div>
            </div>
            <div class="content-row row highlight">
                <div class="col-4 title">多特瑞<br>特價</div>
                <div class="col-8 content ">4480</div>
            </div>
        <btn class="btn btn--stripe" onclick="displayBuyingInfo()" >馬上購買</btn>
        </div>
    </section>

    <!-- Easy Package -->
    <section id="buy-easy-package" class="card">
        <header>
            <h1>簡易套裝</h1>
            <p>簡易省錢套裝，適合嚐鮮或個人使用</p>
        </header>
        <div class="product-img-container">
            <img src="assets/buying-block/product-easy-package.png">
        </div>
        <hr>
        <div class="desc-content">
            <div class="content-row row">
                <div class="col-4 title">內含</div>
                <div class="col-8 content">
                    <ul>
                        <li>Drinkmate主機一台</li>
                        <li>co2可回充氣瓶一瓶</li>
                        <li>1L水瓶一罐</li>
                    </ul>

                </div>
            </div>
            <div class="content-row row">
                <div class="col-4 title">原價</div>
                <div class="col-8 content">4680</div>
            </div>
            <div class="content-row row highlight">
                <div class="col-4 title">多特瑞<br>特價</div>
                <div class="col-8 content ">2980</div>
            </div>
            <botton class="btn btn--stripe" onclick="displayBuyingInfo()" >馬上購買</botton>
        </div>
    </section>

<!-- Show After Clinking Buying Button -->
<!-- Buying Info -->
    <section id="buying-info">
        若有<span>Anna 李怡</span>的多特瑞群組，可由以下連結加入群組訂購，能<span>再享有特別優惠</span>。
        <a href="http://line.me/ti/g/Rd6uLkod6t">[Line 加入群組]</a>
        <br><br>
        購買資訊如下：<br>
        <br>

        匯款資訊<br>
        銀行：國泰世華(013) 淡水分行<br>
        姓名：林致廷<br>
        帳號：127-50-619064-9<br>
        <br>
        匯款後填寫表單，將立即宅配出貨。1~2日送達收貨地址。
        <a href="https://goo.gl/forms/OSoTUiNONUsLDOJM2">表單連結</a><br>
        <br>
        聯絡資訊<br>
        聯絡人：林致廷<br>
        Line: dcfcm<br>
        Email: <a href="mailto:oneman.firm@gmail.com">oneman.firm@gmail.com</a><br>
        聯絡電話：0988868099 <br>

        <br>
        
        <div id="closebtn" onclick="hideBuyingInfo()"></div>
    </section>
</article>
<script type="text/javascript">
    // 馬上購買按鈕Function
    function displayBuyingInfo() {
        $('#buying-info').addClass('display');
    }
    function hideBuyingInfo() {
        $('#buying-info').removeClass('display');
    }
    function btntest() {
        alert('hi');
    }

</script>



<div class="call-to-action-btn">
    <a href="#buying-block" class="btn btn--stripe">馬上購買</a>

</div>

<!-- 常見問題與資訊 -->

<article id="common-question">
    <header>
        <img src="assets/Qna-title.svg">
    </header>
   <h1>drinkmate氣泡飲機跟其他氣泡水機的差別在哪裡呢？</h1>
   <p><span>drinkmate可以打水以外的飲品，他牌的只能打一般純水。</span>drinkmate使用專利的噴頭設計， 突破了純水的限制，適用於純水及任何飲品（比如：鳳梨醋、蘋果醋、檸檬汁、葡萄汁、紅酒、白酒、威士忌、綠茶、烏龍茶、…等）。<br> 另外市售的可樂、啤酒等含有氣泡產品，如氣泡消失，可以使用drinkmate Rhino410氣泡水機即可還原，恢復生氣及口感。</p>

<h1>drinkmate氣瓶裡的二氧化碳氣體是多少重量? 可製作多少氣泡水?</h1>
<p>本產品含425g CO2，約可製作50公升的氣泡水。舉例來說，<span>以drinkmate 1L耐壓水瓶來估計，約可製作50瓶氣泡飲</span>。不過還是要以使用者的習慣為基準，如果喜歡濃嗆的氣泡水，每次按壓次數較多下，氣瓶內氣體消耗速度會較快。</p>

<h1>要如何知道二氧化碳氣瓶已經沒氣了？</h1>
<p><span>快要沒氣時，出氣量會漸漸減弱。</span>若想精確測量可將氣瓶拿去秤重，氣瓶滿體的重量約為1225g，空瓶為800g (5%以內的誤差值)。</p>

<h1>二氧化碳氣瓶用完去哪裡購買? 可以回充嗎?</h1>
<p>氣瓶購買跟回充，請加入官方Line（ID: @jetway）或是撥電話至客服專線0800-060957，直接告訴官方客服您的需求。<span>氣瓶是採用專人宅配到府收換的方式</span>，迅速便利。</p>

<h1>適合飲用的水溫是幾度?</h1>
<p>溫度建議越冰越好!! 但不要結冰 (水溫1度以上)，<span>水越冰，二氧化碳溶解度越高，氣泡越明顯，口感也顯濃烈</span>，水最基本就常溫，請勿裝熱水。</p>

<h1>二氧化碳氣瓶會不會有爆炸的危險?</h1>
<p> drinkmate二氧化碳氣瓶是經過美國交通運輸部United States Department of Transportation，簡稱DOT認證以及加拿大TC認證。
氣瓶及閥門為台灣製造，製造過程中，每支氣瓶必須經過嚴格的出廠測試，而閥門安裝美國高精度的洩壓防爆片，<span>以確保高壓氣瓶的品質及安全性。</span>
二氧化碳是採用食用級的氣體，已通過SGS的專業認證。</p>

<h1>二氧化碳氣體及鋼瓶保存期限多久?</h1>
<p>二氧化碳氣體保存期限為2年，美國DOT規範鋼瓶保存期限為5年，鋼瓶於使用期限內外觀正常可重複充填，存放於室溫無太陽直射處不會漏氣。(若要檢查鋼瓶是否漏氣，可倒放閥門於水中，沒有泡泡就是沒有漏氣)</p>

<h1>水瓶的使用期限以及耐熱溫度。</h1>
<p><span>水瓶建議使用期限兩年</span>，但外觀如發生刮傷、變形、裂痕、變色時，建議更換。水瓶使用溫度為1度到40度。</p>

<h1>可以使用一般寶特瓶代替drinkmate 水瓶使用嗎?</h1>
<p>一般市售飲料的拋棄式寶特瓶並無耐高壓設計，且寶特瓶旋口亦與機器不合，<span>請勿使用其他任何的容器搭配機器使用</span>，以免造成危險。</p>

<h1>水瓶清洗方式為何？</h1>
<p><span>勿使用溫水或熱水清洗</span>，另外清洗時，也請勿使用菜瓜布或任何會造成刮痕的清洗工具，建議使用冷水清洗即可（瓶底可旋轉取下清洗）。</p>

<h1>使用drinkmate氣泡飲機所製作出來的氣泡水，一般可以維持多久呢？</h1>
<p>氣泡水的原理就和市面上所販售的汽水一樣，<span>只要瓶蓋鎖緊，基本上２～３天內喝起來都會有氣泡的口感</span>；相同的，若瓶蓋沒鎖緊，氣泡就很容易流失而變回原來的口感。</p>

<h1>氣泡濃度可以調整嗎 ? </h1>
<p><span>可依您的按壓次數來控制自製氣泡水的氣泡含量</span>（有專業洩壓裝置，不用擔心安全問題），不過按壓次數越多，您的二氧化碳氣瓶會消耗得越快喔！</p>

<h1>除了純水之外，還可以將其他飲料放入氣泡水機裡面打氣嗎？</h1>
<p>drinkmate Rhino410 機款<span>可直接用任何你想喝的飲品放入水瓶中</span>，搭配Rhino410主機專用噴氣頭(Fizz infuser)，專用噴氣頭擁有全球首創緩洩壓設計，可讓混合氣泡的飲料緩洩壓。</p>


</article>

<footer>
<!-- <img class="logo" src="assets/logo_ver2.svg"> -->
<img id="logo-words" src="assets/logo_words.svg"><br>
<h1>Contact me</h1>
<i class="fas fa-envelope"></i>
<span><a href="mailto:oneman.firm@gmail.com">oneman.firm@gmail.com</a></span><br>
<span><i class="fab fa-line"></i></span><span> dcfcm</span><br>
<i class="fas fa-mobile-alt"></i> 0988868099 <br>

<i class="far fa-kiss-wink-heart"></i>目前已服務 12 位客戶<br>

<div id="copyright">2018 &copy; One Man Firm<br>Design and Develope by JackLin</div>
</footer>
